<nav>
  <div class="nav-wrapper black white-text ">
    <a href="#" class="brand-logo margin-left">
      <i class="material-icons">assignment</i> {{title}}
    </a>
  </div>

  <div class="nav-content blue">
    <ul class="tabs tabs-transparent">
      <li class="tab"><a href="#" [ngClass]="{'active':mode===1}" (click)="changeMode(1)">All</a></li>
      <li class="tab"><a href="#" [ngClass]="{'active':mode===2}" (click)="changeMode(2)">Active</a></li>
      <li class="tab"><a href="#" [ngClass]="{'active':mode===3}" (click)="changeMode(3)">Completed</a></li>
    </ul>
  </div>
</nav>

<br><br><br>
<div class="row task-display-section">
  <div class="col s10 offset-s1">
    <div class="row">
      <div class="col-12 tasks" *ngFor="let task of getTasksByMode()">
        <task-display [task]="task" (taskUpdated) = "refreshTasks()"></task-display>
      </div>
    </div>

  </div>
</div>
<div class="task-input row">
  <div class="col s10 offset-s1">
    <task-input (tasksAdded) = "refreshTasks()"></task-input>
  </div>
</div>