.large{
    font-size: large;
    margin-left: 16px;
}

.cancel{
    position: absolute;
    right:16px;
}

.frosted {
    background-color: rgba(255, 255, 255, 0.7);  
    backdrop-filter: blur(15px);
    border-radius: 5px;
}